*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

@media screen and (min-width:664px) {
  .background{
    display: flex;
    flex-wrap: wrap;
  }
  
  .cards{
    flex: 0 0 calc(50% - 20px);
  }
}

